<div *ngIf="!isLoged" class="header">
    <h1 align="center">Welcome!</h1>
    <p>Please login to use the website</p>
    <button class="button2" role="button" routerLink="/login">Login</button>
    <button class="button2" role="button" routerLink="/register">Register</button>
</div>
<div *ngIf="isLoged">
    <div class="header">
        <h1 align="center" class="">Welcome!</h1>
        <button class="button2" role="button" (click)="logOut()">Logout</button>
    </div>
    <div class="split-ftp right-ftp">
        <div class="wrappergrid-ftp">
            <div class="carddesign-ftp">
                <div class="cards-ftp">
                    <div class="container-header-ftp">
                        <fa-icon [icon]="faPeopleGroup" class="blue"></fa-icon>   <h4><p>People</p></h4>
                       </div>
                        
    <p class="text-with-tick" style="margin-top:22px;" style="margin-top:22px;">
    
    <li> List of all people in the database</li>
    <li> Add a person to the list</li>
    <li> Edit people from the list </li>
    <li> Delete people from the list</li>
    <button class="button1" role="button" routerLink="/people">People</button>
                </div>     
        </div>
        <div class="carddesign-ftp">
            <div class="cards-ftp">
                <div class="container-header-ftp">
                    <fa-icon [icon]="faTag" class="blue"></fa-icon>   <h4><p>Categories</p></h4>
                   </div>
                    
    <p style="margin-top:22px;" style="margin-top:22px;">
    
        <li> List of all categories in the database</li>
        <li> Add a category to the list</li>
        <li> Edit categories from the list </li>
        <li> Delete categories from the list</li>
    <button class="button1" role="button" routerLink="/categories">Categories</button>
            </div>     
    </div>
    
    
        </div>
    </div>
</div>
